<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Small Business Resources</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    
    <link rel="stylesheet" href="./style.css" />

    <!-- import the webpage's javascript file -->
    <link
      href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Quicksand|Source+Serif+Pro&display=swap"
      rel="stylesheet"
    />
    <link href = "https://fonts.googleapis.com/css?family=Proxima+Nova" rel = "stylesheet">
    <script src="/script.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body>
    <div class = "menubar">
        

      
      <center> <div id = "title">  <h1> Bridging The Gap </h1> </div></center>
       <a href = "index.html" id = "home"> <h2> <u>Home</u> </h2></a>
      <div class = "dropdown"> 
        <button  class="dropbtn"> <center> <h2> <u> Browse our database </u> </h2> </center> </button> 
        <div class="dropdown-content">
          <a href="restaurants.html">restaurants</a>
          <a href="bars.html">bars</a>
          <a href="hotels.html">hotels</a>
          <a href="DOER.html">doctor's offices/ERs</a>
          <a href="grocery.html">grocery stores</a>
          <a href="C19.html">covid-19 resources</a>
        
        </div>
      </div>
      
  
      
     <a href = "affiliate.html" id = "affiliate"> <h2> <u>Become an affiliate</u> </h2></a>
      
     </div>

<!--     <div id="text">
      <center>

    <h1 id="words" class = "title anim-typewriter"> <br/> Bridging the Gap </h1> 
    <!-- <p id = "summary"> <br/> As non-black people of color, we are speaking from a unique position of privilege. The ability to absolve oneself from feeling and being complicit in anti-black violence by asserting “I am not white” is certainly not a solution here. However, while the murder of Floyd occurred in Minneapolis, the racism intrinsic to the police system infiltrates even precincts in your district. Acts of police violence and brutality committed on innocent, unarmed black people are all too common and we need your support to help create a safer community one district at a time. 
    </p>
        
      </center>
    </div> -->
    
     <div id="tel" >
      <h1 class="analytics">
        Analytics
       </h1>
    </div>
       


  
   

  </body>
  <script src="./script.js"> </script>
</html>