* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.fullpage {
  background-color: white;
  width: auto;
  margin: auto;
}

.menubar {
  font-family: "Cormorant Garamond", serif;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: stretch;
  font-color: white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  color: white;
  background-color: #F4DD08;
  align-items: center;
  direction: column;
  margin-top: 3%;
  position: fixed;
  z-index: 1;
}

#title {
  font-family: "Cormorant Garamond", serif;
  padding-left: 20px;
  height: 50px;
  width: 400px;
  color: white;
  font-size: 20px;
/*   text-align: left;
  padding-left: 5%; */
}

#home {
  color: white;
  width: 18%;
  padding: 1px;
  margin: 15px;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
}

#home h2:hover {
  color: #403F45;
}

#home {
  color: white;
  width: 18%;
  padding: 1px;
  margin: 15px;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
}

#home h2:hover {
  color: #403F45;
}
#affiliate {
  color: white;
  width: 18%;
  padding: 1px;
  margin: 15px;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
}

#affiliate h2:hover {
  color: #403F45;
}

.dropdown {
  color: white;
  width: 18%;
  position: relative;
  right:45px;
  padding: 1px;
  margin: 15px;
  position: relative;
  display: inline-block;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
}

.dropdown h2:hover {
  color: #403F45;
}
button {
  background-color: #F4DD08;
  font-family: "Cormorant Garamond", serif;
  color: white;
  border: none;
  font-size: 15px;
}


.dropdown-content {
  font-family: "Cormorant Garamond", serif;
  display: none;
  position: absolute;
  padding-top:25px;
  background-color: transparent;
  opacity: 1;
  min-width: 1000px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-flex;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content a:hover {background-color: gray;}


#text {
  width: auto;
  height: auto;
  margin: auto;
  padding: 175px;
  background-image: url("https://cdn.glitch.com/cb19077b-5557-44cc-b344-153696264364%2FVedya-Konda-30.JPG?v=1613860378711");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-family: "Cormorant Garamond", serif;
  color: white;
  font-size: 100px;
  margin: 180px;
  text-align: center;
  border-right: 2px solid rgba(255,255,255,255);
  white-space: nowrap;
  overflow: hidden;
 transform: translateY(-50%);
  
}
h1{
  text-align:justify;
  text-justify: auto;
}
.anim-typewriter{
  animation: typewriter 3s steps(18) 1s normal both,
             blinkTextCursor 800ms steps(24) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 7.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #F4DD08;}
  to{border-right-color:gray ;}
}

.ally{
  font-family: "Cormorant Garamond", serif;
  color: white;
  font-size: 70px;
  text-align: center;
}

.ally2{
  font-family: "Cormorant Garamond", serif;
  color: white;
  font-size: 50px;
  text-align: center;
}

.summary {
  font-family: "Cormorant Garamond", serif;
  color: white;
  font-size: 35px; 
  text-align: center;
  transition: top 2s;

}
#t {
  width: auto;
  height: auto;
  margin: auto;
  padding: 175px;
  background-color:#4682B4;
}





#t2 {
  width: auto;
  height: auto;
  margin: auto;
  padding: 175px;
  background-image: url("https://cdn.glitch.com/cb19077b-5557-44cc-b344-153696264364%2FVedya-Konda-30.JPG?v=1613860378711"); 
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#source1 {

  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
  text-align: center;
  
}

#source1text {
  color: white;
  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
  text-align: center;
  
}

#t3 {
  width: auto;
  height: auto;
  margin: auto;
  padding: 125px;
  background-color:#4682B4;
}

#source2 {
  
  font-family: "Cormorant Garamond", serif;
  color:white;
  font-size: 30px;
  text-align: center;
  
}

#source2text {
  color: white;
  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
  text-align: center;
  
}

#t4 {
  width: auto;
  height: auto;
  margin: auto;
  padding: 100px;
  background-image: url("https://cdn.glitch.com/cb19077b-5557-44cc-b344-153696264364%2FVedya-Konda-30.JPG?v=1613860378711"); 
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



#source3 {
  
  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
  text-align: center;
  
}

#source3text {
  color: white;
  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
  text-align: center;
  
}

.btn{
  background-color: #F4DD08;
  font-family: "Cormorant Garamond", serif;
  color: white;
  border: none;
  font-size: 15px;
  font-size-adjust: 20px;
  margin: 4px 2px;
  padding: 20px;
  cursor: pointer;
}
p{
  width: 100%
}











.searchstuff{
  width: auto;
  height: 1600px;
  margin: auto;
  padding: 175px;
  padding-top: 200px;
  background-image: url("https://cdn.glitch.com/cb19077b-5557-44cc-b344-153696264364%2FVedya-Konda-30.JPG?v=1613860378711");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.SearchBar{
  width: 20rem;
  height: 50px;
  display: block;
  /*background-color: #4682B4;*/
  padding-top: 13px;
  padding-left: 10px;
  opacity: 1;
}

#searchlabel{
  width: 20rem;
  height: 2rem;
  font-size: 1.75rem;
  z-index: 1;
  color: white;
}

.ShowMore{
  color: blue;
  text-decoration: underline;
  margin: 2rem;
  margin-bottom: 0rem;
  opacity: 0.8;
}

#ShowFilters{
  width: 6rem;
  height: 2rem;
  margin: 10px;
  padding: 0;
  text-align: center;
  font-size: 1rem;
  border-radius: 1rem;
  background-color: #4682B4;
  color: white;
  outline: None;
  border:2px solid white;
  
}

.Filters{
  margin: 2rem;
  background: rgba(70, 130, 180, .8);
  height: 50px;
}

.FiltLabels{
  margin-right: .5rem;
  font-size: 1.75rem;
  color: white;
}

.FiltButtons{
  margin-right: 2rem;
  height: 1.5rem;
  width: 1.5rem;
}

.ShowLess{
  color: blue;
  text-decoration: underline;
  margin: 2rem;
  margin-top: 0rem;
  display:none;
  opacity: 0.8;
}

#HideFilters{
  width: 6rem;
  height: 2rem;
  margin: 10px;
  padding: 0;
  text-align: center;
  font-size: 1rem;
  border-radius: 1rem;
  background-color: #4682B4;
  color: white;
  outline: None;
  border:2px solid white;
}

.Categories{
  display: grid;
/*   margin-left: 40px; */
/*   height: 20rem;
  width: 50%; */
  grid-template-columns: 1fr 1fr 1fr;
/*   justify-items: center; */
}

.Cat{
  width: 50%;
  height: 8rem;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 1rem;
  background-color: #4682B4;
  border:2px solid white;
  color: white;
  outline: None;
  opacity: 0.8;
  align-items: center;
  direction: row;
  }
#rest{
  margin: 40px;
  text-align: center;
  padding:40px;
}

#bars{
  margin:40px;
  justify-content: center;
  padding:40px;
}

#hotel{
  margin: 40px;
  justify-content: center;
  padding:40px;
}

#doc{
  margin:40px;
  justify-content: center;
  padding:40px;
}

#groc{
  margin:40px;
  justify-content: center;
  padding:40px;
}

#reso{
   margin:40px;
  justify-content: center;
  padding:40px;
}



.Cat:hover{
  background-color: darkblue;
  color:#4682B4;
  border-color: #4682B4;
}

.label{
  color:white
}